<!--APP-SIDEBAR-->
<div class="sticky">
    <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
    <div class="app-sidebar">
        <ng-scrollbar appearance="compact">
            <div class="side-header">
                <a class="header-brand1" [routerLink]="['/dashboard']">
                    <img src="../assets/images/brand/logo-white.png" class="header-brand-img desktop-logo" alt="logo">
                    <img src="../assets/images/brand/icon-white.png" class="header-brand-img toggle-logo" alt="logo">
                    <img src="../assets/images/brand/icon-dark.png" class="header-brand-img light-logo" alt="logo">
                    <img src="../assets/images/brand/logo-dark.png" class="header-brand-img light-logo1" alt="logo">
                </a>
                <!-- LOGO -->
            </div>
            <div class="main-sidemenu">
                <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                        width="24" height="24" viewBox="0 0 24 24">
                        <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                    </svg></div>
                <ul class="side-menu">
                    <li class="sub-category">
                        <!-- <h3>Tổng quan</h3> -->
                    </li>
                    <li class="slide">
                        <a class="side-menu__item has-link" [routerLink]="['/dashboard']"><i
                                class="side-menu__icon fa fa-dashboard"></i><span
                                class="side-menu__label">General</span></a>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item has-link"><i class="side-menu__icon fa fa-shopping-cart"></i><span
                                class="side-menu__label" (click)="showSubMenuCG = !showSubMenuCG">Class
                                Group</span><i *ngIf="!showSubMenuCG" Class="angle fe fe-chevron-right"></i><i
                                *ngIf="showSubMenuCG" Class="angle fe fe-chevron-down"></i></a>
                        <ng-container *ngIf="showSubMenuCG">
                            <ul class="navbranchitem">
                                <li routerLinkActive="active" *ngFor="let childmenu of listBranch">
                                    <ul class="sidemenu-list">
                                        <li class="slide-item">
                                            <a class="side-menu__item has-link"
                                                [routerLink]="['/classgroup',childmenu.name]"><i
                                                    class="side-menu__icon fe fe-home"></i><span
                                                    class="side-menu__label">{{childmenu.name}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </ng-container>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item has-link"><i class="side-menu__icon fa fa-sitemap"></i><span
                                class="side-menu__label"
                                (click)="showSubMenuBranch = !showSubMenuBranch">Branch</span><i
                                *ngIf="!showSubMenuBranch" Class="angle fe fe-chevron-right"></i><i
                                *ngIf="showSubMenuBranch" Class="angle fe fe-chevron-down"></i>
                        </a>
                        <ng-container *ngIf="showSubMenuBranch">
                            <ul class="navbranchitem">
                                <li routerLinkActive="active" *ngFor="let childmenu of listBranch">
                                    <ul class="sidemenu-list">
                                        <li class="slide-item">
                                            <a class="side-menu__item has-link"
                                                [routerLink]="['/branch',childmenu.name]"><i
                                                    class="side-menu__icon fe fe-home"></i><span
                                                    class="side-menu__label">{{childmenu.name}}</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </ng-container>
                    </li>
                </ul>
                <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                        width="24" height="24" viewBox="0 0 24 24">
                        <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                    </svg></div>
            </div>
        </ng-scrollbar>
    </div>
</div>
<!--/APP-SIDEBAR-->